

<!-- Main Content -->
<div class="home-container">

  <!-- Left Card -->
  <div class="auth-card">
    <h2>Welcome to 1C Hospital</h2>
    <p class="subtitle">
      Book appointments and manage healthcare securely
    </p>

    <button routerLink="/login-user" class="primary-btn">
      Login as Patient
    </button>

    <button routerLink="/login-doctor" class="secondary-btn">
      Login as Doctor
    </button>

    <p class="register-text">
      New patient?
      <a routerLink="/register-user">Register here</a>
    </p>
  </div>

  <!-- Right Image -->
  <div class="image-section">
    <img
      
src="https://media.vanguardcommunications.net/photo-VCG-HPI-COVID19-Male-Doc-Male-Pt-2000px.jpg"
  alt="Hospital"
  class="hospital-image"

    />
  </div>

</div>